#body {
    background: #222;;
    color: white;
    }
    
.navbar {
    background-color:black;

  }

  .row{
   
    background-color: black;
    color:white;
   
  }

  .my-custom-scrollbar {
    position: relative;
    max-height: 500px;
    overflow: auto;
    }

  .table-wrapper-scroll-y {
    display: block;
    }

   